<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RoslynIrcBot.BotSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RoslynIrcBot.BotSettings>
            <setting name="Server" serializeAs="String">
                <value>irc.freenode.net</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="StartUpChannels" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>##csharp-bot</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>seesharp</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>USER SeeSharp 8 * :I'm a csharp irc roslyn bot by frW</value>
            </setting>
        </RoslynIrcBot.BotSettings>
    </applicationSettings>
<connectionStrings><add name="RoslynIrcBotEntities" connectionString="metadata=res://*/DataContext.csdl|res://*/DataContext.ssdl|res://*/DataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=RoslynIrcBot;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="DataContext" connectionString="metadata=res://*/DataContext.csdl|res://*/DataContext.ssdl|res://*/DataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=RoslynIrcBot;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>